<div class="dashboard-container">
    <mat-card class="summary-card">
      <mat-card-title>Total Portfolio Value</mat-card-title>
      <mat-card-content>
        <h2> {{ totalValue | currencyFormat }}</h2>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="chart-card">
      <mat-card-title>Asset Allocation</mat-card-title>
      <mat-card-content>
         <canvas baseChart
                [data]="pieChartData"
                [options]="pieChartOptions"
                [type]="pieChartType">
        </canvas>
      </mat-card-content>
    </mat-card>
  </div>
  